// ========================================================================
// SCSS > General Styles
// ========================================================================

* {
    @include box-sizing(border-box);
}
*:before,
*:after {
    @include box-sizing(border-box);
}

body {
    font-family: $font-default;
    color: $color-text;
}

.container {
    position: relative;
    margin: 0 auto;
    width: $site-width-desktop;

    @include clearfix();

    @media screen and (max-width: $site-width-xs) {
        padding: 0 15px;
        width: auto;
    }
}
