// ========================================================================
// SCSS > General Styles
// ========================================================================

body {
    font-family: $font-default;
    color: $color-text;
}

.container {
    position: relative;
    margin: 0 auto;
    width: $site-width;

    @include clearfix();
}
