// ========================================================================
// SCSS > General Styles
// ========================================================================

body {
    font-family: $font-default;
}

.container {
    width: $site-width;
    margin: 0 auto;

    @include clearfix();
}
