// ========================================================================
// SCSS > General Styles
// ========================================================================

body {
    font-family: $font-default;
}

.container {
    margin: 0 auto;
    position: relative;
    width: $site-width;

    // @include clearfix();
}
