// ================================================================================
// Variables
// ================================================================================

$font-default: "Helvetica Neue", Helvetica, Arial, sans-serif;

// colors
$color-main: #000;
$color-text: #000;
$color-title: #000;