.DS_Store
*.zip
/vendor
bootstrap/compiled.php
/node_modules
.sass-cache/
thumbs.db
public/files
public/assets/stylesheets/dist
public/assets/javascripts/dist
.env

# bower components
resources/assets/components/*
!resources/assets/components/jquery/dist/jquery.js
!resources/assets/components/normalize.scss/_normalize.scss
