// ================================================================================
// Variables
// ================================================================================

// fonts
$font-default: "Helvetica Neue", Helvetica, Arial, sans-serif;

// colors
$color-main: #000;
$color-text: #666;
$color-title: #000;

// widths
$site-width-lg: 1200px; // large  > 1200px
$site-width-md: 992px;  // medium > 992px
$site-width-sm: 768px;  // small  > 768px
$site-width-xs: 480px;  // extra small < 768px

// sprites
// $sprite: sprite-map("sprites/default/*.png");
