// ================================================================================
// Variables
// ================================================================================

// fonts
$font-default: "Helvetica Neue", Helvetica, Arial, sans-serif;

// colors
$color-main: #000;
$color-text: #666;
$color-title: #000;

// widths
$site-width-desktop: 970px;
$site-width-mobile: 480px;

// sprites
// $sprite: sprite-map("sprites/default/*.png");
