// ========================================================================
// SCSS > Content
// ========================================================================

// swiper
.swiper-container {
    width: 100%;
    height: 100%;
}


// slider
.swiper-slider {

    .swiper-slide {
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
}


// gallery
.swiper-gallery {

    .swiper-slide {
        background: #EEE;
        height: 300px;
    }
}


// section
.section {
}
