// ========================================================================
// SCSS > General Styles
// ========================================================================

* {
    @include box-sizing(border-box);
}
*:before,
*:after {
    @include box-sizing(border-box);
}

html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    text-align: center;
    font-family: $font-default;
    color: $color-text;
}

.container {
    position: relative;
    @include clearfix();
}
