// ================================================================================================
// Helpers classes
// ================================================================================================

.clearfix {
    clear: both;
    list-style: none !important;
    margin: 0;
}

object[type="application/gas-events-cef"],
iframe[name="google_conversion_frame"] {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}
