// ================================================================================================
// Helpers classes
// ================================================================================================

.clearfix {
    clear: both;
    list-style: none !important;
    margin: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.hide {
    display: none;
}

.upper {
    text-transform: uppercase;
}

object[type="application/gas-events-cef"],
iframe[name="google_conversion_frame"] {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}
